@mixin font-face($style-name, $file, $family, $weight) {
  $filepath: "~@/styles/fonts/" + $family + "/" + $file;
  @font-face {
    font-family: "#{$family}";
    font-style: normal;
    font-display: block;
    font-weight: $weight;
    src: url($filepath + '.eot');
    src: local("#{$style-name}"), local("#{$file}"),
       url($filepath + '.eot?#iefix') format('embedded-opentype'),
       url($filepath + '.woff2') format('woff2'),
       url($filepath + '.woff') format('woff'),
       url($filepath + '.ttf') format('truetype'),
       url("#{$filepath}.svg##{$file}") format('svg');
  }
}

@include font-face("Fredoka One", "FredokaOne-Regular", "Fredoka One", 400);
@include font-face("Raleway Light", "Raleway-Light", "Raleway", 300);
@include font-face("Raleway SemiBold", "Raleway-SemiBold", "Raleway", 600);
